.btn {
    &,
    &:link,
    &:visited {
        font-family: 'MyriadProBold', Arial, Sans-serif;
        text-decoration: none;
        padding: 15px 50px;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 20px;
        border: none;
        cursor: pointer;
        text-align: left;
    }

    @include mob-down {
        padding: 15px 40px;
    }
    
    &:hover {
        opacity: 0.8;
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);


        & .btn--link {
            &::before {
                transform: translateX(5px) rotate(45deg);
            }
            &::after {
                transform: translate(5px);
            }
        }
            
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
    
    &--primary {
        background: #6101ff; 
        color: $color-white;

        &::before {
            background: #6101ff; 
        }
    }

    &--orange {
        background: $color-orange; 
        color: $color-white;

        &::before {
            background: $color-orange; 
        }
    }
    
    &::before {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

    &__sub {
        font-family: 'MyriadProRegular', Arial, Sans-serif;
        font-size: 16px;
    }

    &--link {
        position: relative;
        color:$color-white;
        text-decoration: none;
        margin-right: 60px;

        @media screen and (max-width: 1050px) {
            margin-right: 40px;
        }

        @include mob-mini-down {
            margin-right: 15px;
        }
    
        &::after {
            content: '';
            position: absolute;
            z-index: 999;
            right: -60px;
            top: 25px;
            width: 15px;
            border-top: 3px solid $color-white;
            display: inline-block;
            transition: all .3s ease-in-out;   
            
            @media screen and (max-width: 1050px) {
                right: -55px;
            }

            @include mob-mini-down {
                right: -45px;
            }
        }
    
        &::before {
            content: '';
            position: absolute;
            z-index: 999;
            right: -60px;
            top: 22px;
            width: 9px;
            height: 9px;
            border-right: 3px solid $color-white;
            border-top: 3px solid $color-white;
            transform: rotate(45deg);
            display: inline-block;
            margin: 0 0 2px 5px;
            transition: all .3s ease-in-out;

            @media screen and (max-width: 1050px) {
                right: -55px;
            }

            @include mob-mini-down {
                right: -45px;
            }
    
        }
    }
}
